[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/skallweitNV/nanobind.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "data"]
	path = data
	url = https://github.com/shader-slang/sgl-data.git
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/shader-slang/sgl-tutorials.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/tevclient"]
	path = external/tevclient
	url = https://github.com/westlicht/tevclient.git
